<div class="row">
    <h1 class="col-sm-12">List</h1>
</div>
<div class="row">
    <div class="col-sm-12">
        <table class="table table-striped table-condensed">
            <thead>
            <tr>
                <th>
                    <input type="checkbox" ng-model="ctrl.selected"
                           ng-click="ctrl.toggle()"/>
                </th>
                <th>id</th>
                <th>name</th>
                <th>surname</th>
                <th>date of birth</th>
                <th>mobile number</th>
                <th>address (city + street + house number)</th>
                <th>
                    <div ng-if="ctrl.editMode" class="btn-group">
                        <button class="btn btn-primary" ng-click="ctrl.saveAll()">
                            <i class="glyphicon glyphicon-save"></i>
                            Save
                        </button>
                        <button class="btn btn-warning"
                                ng-click="ctrl.cancelAll()">
                            <i class="glyphicon glyphicon-remove"></i>
                            Cancel
                        </button>
                    </div>
                    <button class="btn btn-primary"
                            ng-click="ctrl.editAll()"
                            ng-if="!ctrl.editMode">
                        <i class="glyphicon glyphicon-edit"></i>
                        Edit selected
                    </button>

                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="user in ctrl.users track by user.id"
                    ng-click="ctrl.toggleOne(user)">
                <td>
                    <input type="checkbox"
                           ng-model="user.edit"
                           ng-click="$event.stopPropagation()"
                            />
                </td>
                <td>{{user.id}}</td>
                <td ng-if="!user.showEdit">{{user.name}}</td>
                <td ng-if="user.showEdit">
                    <input type="text" class="form-control" class="form-control"
                           ng-model="user.name"/>
                </td>
                <td ng-if="!user.showEdit">{{user.surname}}</td>
                <td ng-if="user.showEdit">
                    <input type="text" class="form-control"
                           ng-model="user.surname"/>
                </td>
                <td ng-if="!user.showEdit">{{user.date_of_birth}}</td>
                <td ng-if="user.showEdit">
                    <input type="text" class="form-control"
                           ng-model="user.date_of_birth"/>
                </td>
                <td ng-if="!user.showEdit">{{user.mobile_number}}</td>
                <td ng-if="user.showEdit">
                    <input type="text" class="form-control"
                           ng-model="user.mobile_number"/>
                </td>
                <td ng-if="!user.showEdit">{{user.address | address}}</td>
                <td ng-if="user.showEdit">
                    <div class="row">
                        <div class="col-sm-4">
                            <input type="text" class="form-control"
                                   ng-model="user.address.city"/>
                        </div>
                        <div class="col-sm-4">
                            <input type="text" class="form-control"
                                   ng-model="user.address.street"/>
                        </div>
                        <div class="col-sm-4">
                            <input type="text" class="form-control"
                                   ng-model="user.address.house_number"/>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="btn-group btn-group-xs" ng-if="user.showEdit">
                        <button class="btn btn-primary"
                                ng-click="ctrl.save(user); $event.stopPropagation()">
                            <i class="glyphicon glyphicon-save"></i>
                            Save
                        </button>
                        <button class="btn btn-warning"
                                ng-click="ctrl.cancel(user); $event.stopPropagation()">
                            <i class="glyphicon glyphicon-remove"></i>
                            Cancel
                        </button>
                    </div>
                    <div class="btn-group btn-group-xs" ng-if="!user.showEdit">
                        <button class="btn btn-primary"
                                ng-click="ctrl.edit(user); $event.stopPropagation()">
                            <i class="glyphicon glyphicon-edit"></i>
                            Edit
                        </button>
                        <button class="btn btn-danger"
                                ng-click="ctrl.remove(user, $index); $event.stopPropagation()">
                            <i class="glyphicon glyphicon-remove"></i>
                            Delete
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
